<p id="notice"><%= notice %></p>

<h1>Listing Links</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
      <div class="btn-group">
  <a class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a>
  <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-up"></span>
    Upvote
    <%= link.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-down">
    Downvote
    <%= link.get_downvotes.size %>
  <% end %>
</div>

<small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.name %></small>

        <td><%= link.title %></td>
        <td><%= link.url %></td>
        <td><%= link.user %></td>
        <td><%= current_user %></td>
        <td><%= link_to 'Show', link %></td>
        
        <% if link.user == current_user %>
          <td><%= link_to 'Edit', edit_link_path(link) %></td>
          <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

